.pollFormContainer {
    width: 50%;
    margin: auto;
    margin-top: 40px;
}

label[for="question"] {
    margin-right: 20px;
}

.questionContainer {
    font-size: x-large;
}

#question {
    width: 100%;
}

.allowMultipleContainer {
    display: flex;
    align-items: center;
    margin: 10px 0;
    font-size: large;
}

#allowMultiple {
    margin-right: 10px;
    margin-bottom: 10px;
    width: 20px;
}

.buttonsContainer {
    display: flex;
    justify-content: space-between;
}