{% extends 'base.html' %}
{% block title %}Create{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/create.css') }}">
{% endblock %}
{% block content %}
<form action="#" id="poll-form">
    {{ create_form.csrf_token }}
    <div class="form-group" id="create-poll-query">
        {{ create_form.question.label }}
        {{ create_form.question }}
    </div>
    <div class="form-check">
        {{ create_form.allow_multiple }}
        {{ create_form.allow_multiple.label }}
    </div>
    <ol id="option-list">
        {% for option in create_form.options %}
        <li class="form-group option-container">
            {{ option }}
        </li>
        {% endfor %}
    </ol>
    <div id="buttons-group">
        <button type="button" class="btn btn-primary" id="add-option">More</button>
        <button type="button" class="btn btn-primary" id="submit-poll-form">Submit</button>
    </div>
</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/create.js') }}"></script>
{% endblock %}