<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>MyPoll</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/lib/bootstrap.min.css') }}">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
</head>

<body>
    <h1>Heya!</h1>
    <button class="btn btn-primary">Click Me!</button>
    <div id="scripts-container">
        <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js"
            integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous">
        </script>
        <script src="{{ url_for('static', filename='js/lib/bootstrap.min.js') }}"></script>
        <script src="{{ url_for('static', filename='js/main.js') }}"></script>
    </div>
</body>

</html>