{% extends 'base.html' %}
{% block title %}Vote{% endblock %}
{% block styles %}
{{ super() }}
<link rel="stylesheet" href="{{ url_for('static', filename='css/vote.css') }}">
{% endblock %}
{% block content %}
<form id="vote-form">
    <p id="poll-question">{{ poll.question }}</p>
    <ul id="option-list">
        {% for option in poll.options %}
        {% set input_type = 'checkbox' if poll.allow_multiple else 'radio' %}
        <li class="custom-control option">
            <input type="{{ input_type }}" name="chosen" class="custom-control-input option-vote" id="{{ option.id }}">
            <label class="custom-control-label" for="{{ option.id }}">{{ option.text }}</label>
        </li>
        {% endfor %}
    </ul>
    <button type="button" id="submit-votes" class="btn btn-primary">Submit</button>
</form>
{% endblock %}
{% block scripts %}
{{ super() }}
<script src="{{ url_for('static', filename='js/vote.js') }}"></script>
{% endblock %}